@charset "utf-8";
/* CSS Document */
/*全局*/
.body{
	background:url(../img/bg3.jpg) no-repeat;
	background-size:100% 100%;
	width:100%;
	font-size:16px;
	font-family:"Microsoft YaHei";
	margin:0 auto;
}
<!--主页-->
.page1{
}

.page1 .wrapper{
	margin:0 auto;
	width:1000px;
}

/*头部*/

/*头部第一行 题目*/
.page1 .header-wrapper{
	border-radius:10px;
	background:#ffc;
}

.page1 .header{
	height:160px;
	padding:20px 30px;
}

.page1 .header ul li.header-title-logo{
	width:300px;
	height:160px;
}

@-webkit-keyframes test{
	0%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;		
	}	
	50%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 60px #cd4606, 0 -80px 40px #973716, 10px -50px 100px #451b0e;		
	}
	100%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 40px #cd4606, 0 -80px 100px #973716, 10px -70px 150px #451b0e;		
	}
}

@-webkit-keyframes change{
	0%{
		color:#060;
	}
	25%{
		color:#C60;
	}
	50%{
		color:#FC3;
	}
	75%{
		color:#06C;
	}
	100%{
		color:#00F;
	}
}

.page1 .header ul li.header-title-logo .logofirst{
	font-size:80px;
	font-family:Verdana, Geneva, sans-serif;  
	font-weight:bold; 
	color:green; 
	-webkit-animation:1s change linear infinite;
	-moz-animation:s change linear infinite;
	-ms-animation:1s change linear infinite;
	-o-animation:1s change linear infinite; 
	animation:1s change linear infinite;
	text-shadow:10px 10px 10px #000,15px 15px 10px #000,20px 20px 10px #000;
/*	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	-webkit-animation:.3s test linear infinite;
	-moz-animation:.3s test linear infinite;
	-ms-animation:.3s test linear infinite;
	-o-animation:.3s test linear infinite; 
	animation:.3s test linear infinite;
*/
}

.page1 .header ul li.header-title-logo .logonav{
	margin-top:20px;
	margin-left:150px;
	font-size:24px;
/*	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	-webkit-animation:.3s test linear infinite;
	-moz-animation:.3s test linear infinite;
	-ms-animation:.3s test linear infinite;
	-o-animation:.3s test linear infinite; 
	animation:.3s test linear infinite;
*/
	
}



.page1 .header ul li.header-title-article{
	width:400px;
	margin-top:30px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.page1 .header ul li.header-title-article ul li{
	margin-bottom:20px;
	width:100%;		
}
.page1 .header ul li.header-title-article ul li.text-3{
	text-align:right;
	padding-right:50px;
}

.page1 .header ul li.header-title-interested{
	width:200px;
}

.page1 .header ul li.header-title-interested img{
	width:100%;
	height:100%;
	background-size:100%;
}
/*nav导航	*/
.page1 .nav-wrapper{
	height:60px;
	border-radius:10px;
	margin-top:8px;
	position:relative;
}


/*左边*/

.page1 .topnav .left{
	
}
.page1 .topnav .left ul{
	width:528px;
	height:60px;
	position:relative;
}

.page1 .topnav .left ul li{
	float:left;
}


.page1 .topnav .left ul li a{
	width:130px;
	height:60px;
	display:block;
	color:#000;
	text-align:center;
	line-height:60px;
	font-size:18px;
	border-radius:10px;
	font-weight:200;
	
}
.page1 .topnav .left ul li.li-shadow{
	width:130px;
	height:60px;
	background:#f15694;	
	border-radius:10px;
	opacity:0.5;
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
}
/*时钟*/

.page1 .topnav .clock{ 
	width:100px; 
	height:100px; 
	background:url(../img/bg.png) no-repeat; 
	position:absolute;
	background-size:100% 100%;
	right:140px;
}
.page1 .topnav .clock span{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	transform-origin:bottom; 
	border-radius:50% 50% 0 0;
}
.page1 .topnav .clock .h{ 
	width:4px; 
	height:20px; 
	background:#000; 
	margin-left:0px; 
	margin-top:-17px; 
	}
.page1 .topnav .clock .m{ 
	width:4px; 
	height:30px; 
	background:#000; 
	margin-left:0px; 
	margin-top:-27px;
}
.page1 .topnav .clock .s{ 
	width:2px; 
	height:40px; 
	background:red; 
	margin-left:2px; 
	margin-top:-37px;  
	transform-origin:bottom;
}
.page1 .topnav .clock .tip{ 
	width:7px; 
	height:7px; 
	background:-webkit-radial-gradient(#999,#CCC); 
	margin-left:0px; 
	margin-top:0px; 
	border-radius:50% !important;
}


/*banner*/
.page1 .banner-wrapper{
	margin-top:8px;
}

.page1 .banner{
	height:350px;
}
/*banner 的左侧 轮播图*/

.page1 .banner .banner-left{
	width:600px;
}


/*banner 的左侧 轮播图 主页面*/
.page1 .banner .banner-left .banner-left-content{
	width:480px;
	height:350px;
	overflow:hidden;
	position:relative;
}

.page1 .banner .banner-left .banner-left-content li{
	width:480px;
	height:350px;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	
}

.page1 .banner .banner-left .banner-left-content li:first-child{
	opacity:1;
}

.page1 .banner .banner-left .banner-left-content ul img{
	width:480px;
	height:350px;

}

/*banner 的左侧 轮播图副主页面*/

.page1 .banner .banner-left .banner-left-nav{
	width:110px;
	position:relative;

}
.page1 .banner .banner-left .banner-left-nav img{
	width:100%;
	height:100%;
}

.page1 .banner .banner-left .banner-left-nav .hover-bg{
	position:absolute;
	left:0px;
	top:0px;
	width:90px;
	height:50px;
	border:10px solid red;;
}
.page1 .banner .banner-left .banner-left-nav .hover-bg:after{
	content:"";
	display:block;
	border-style:solid;
	border-width:0px 0px 20px 16px ;
	border-color: transparent   transparent red transparent;
	position:absolute;
	left:-24px;
	top:40px;
	
}

.page1 .banner .banner-left .banner-left-nav li{
	padding:10px;
	width:90px;
	height:50px;
	
}

/*banner 的右侧 显示框*/

.page1 .banner .banner-right{
	height:350px;
	width:380px;
	margin-top:60px;
	background:url(../img/banner-right.jpg) no-repeat;
	background-size:100%;
	position:relative;
}

.page1 .banner .banner-right .banner-right-article{
	position:absolute;
	left:150px;
	top:150px;
	font-size:20px;
	color:#fff;
}

/*尾部*/
.page1 .footer{
	height:30px;
	background:#6cc;
	border-radius:10px 10px 0 0;
	margin-top:10px;
	line-height:30px;
}
.page1 .footer p{
	text-align:right;
}


/*我的作品*/
.page2{
}

.page2 .wrapper{
	margin:20px 130px 0 100px;

}

.page2 .left{
	width:19%;
	height:600px;
	background:#f90;
}

.page2 .left .header-wrapper{
	margin:20px auto;
	width:130px;
	height:130px;
	overflow:hidden;
	border:10px solid #F00;
	border-radius:50%;
}

.page2 .left .header img{
	display:block;
	width:100%;
	height:100%;
}

.page2 .left .left-topbar{
	text-align:center;
	
}

.page2 .left .left-topbar li{
	margin-bottom:10px;
	font-size:16px;
}

.page2 .left .left-topbar li.name{
	font-size:24px;
	font-weight:bold;
}


.page2 .left .left-bottombar{
	margin:10px 20px 0px;
	border-top:1px solid #fff;
	padding-top:20px; 
}
.page2 .left .left-bottombar p{
	font-size:14px;
	color:#fff;
	text-indent:2em;
	line-height:20px;
	margin-bottom:10px;
}


.page2 .right{
	width:80%;
	height:600px;
	background:#BBBAF5;
}
.page2 .right h3{
	margin:20px 0;
	margin-left:100px;
	display:block;
	font-size:30px;
	color:#F00;
	font-weight:bold;
}

.page2 .right .bottombar{
	margin:0px 60px 0px;
	padding-top:30px;
	border-top:1px solid #fff;

}
.page2 .right .bottombar ul{
	overflow:auto;
	height:400px;
}

.page2 .right .bottombar ul li{
	float:left;
	margin-bottom:80px;
	margin-right:20px;
	width:320px;
	height:400px;
	position:relative;
	
	
}
.page2 .right .bottombar ul li:nth-child(2n){
	margin-right:0px;
}

.page2 .right .bottombar ul li a{
	display:block;
	width:100%;
	height:100%;
}

.page2 .right .bottombar ul li a img{

	height:100%;
	width:100%;

}

.page2 .right .bottombar ul li .work{
	width:320px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.8);

	
}
.page2 .right .bottombar ul li .work a{
	display:block;
	width:320px;
	height:400px;
	border:1px solid #ccc;
	text-align:center;
	color:#fff;
	font-size:14px;
}

.page2 .right .bottombar ul li .work a h4{
	margin-top:150px;
	font-size:30px;
	margin-bottom:20px;}

/*侧边栏*/

.page2 .asidebar{

	width:90px;
	height:460px;
	background:red;
	position:fixed;	
	top:60px;
	right:30px;
	border-radius:40px;
}

.page2 .asidebar ul li{
	width:80px;
	height:80px;
	border-radius:50px;
	background:#3F0;
	margin:10px 5px;
	text-align:center;
	line-height:80px;
	font-size:16px;
	font-weight:bold;
	
}




/*第三页*/

.page3{
	background:url(../img/page3-bg.jpg);
	font-size:16px;
	font-family:"Microsoft YaHei";
}
.page3-wrapper{
	padding:30px 150px 0px;
	margin:0 auto;
}

.page3 h2{
	text-align:center;
	font-size:50px;
	line-height:60px;
	padding-bottom:30px;

}
/*左侧*/
.page3 .left{
	width:35%;	
}

.page3 .left h3{
	text-align:center;
	font-size:22px;
	border-bottom:2px solid #FB8664;
	padding-bottom:20px;
}

.page3 .left .left-list{
	margin:10px 10px 0px 0px;
}

.page3 .left .left-list li{
	border-bottom:1px solid #999;
	line-height:40px;
}

.page3 .left .left-list li label{
	width:130px;
	display:inline-block;
}


/*右侧*/
.page3 .right{
	margin-left:50px;
	width:60%;
}
.page3 .right h3{
	width:400px;
	text-align:center;
	font-size:22px;
	border-bottom:2px solid #FB8664;
	padding-bottom:20px;
	margin:0 auto;
}


.page3 .right .part1{
	width:100%;
	height:112px;
	position:relative;
	text-align:center;

}

.page3 .right .part1 .part-p{
	font-size:40px;
	color:#000;
	line-height:112px;
}
.page3 .right .part1 .part-ul{
	position:absolute;
	top:10px;
	left:250px;
	opacity:0;
}











/*第四页*/
.page4{
	background:green;
}

.page4-wrapper{
	padding:10px 100px;
	margin:0 auto;
}



.page4 h2{
	text-align:center;
	font-size:36px;
}

.page4 .title{
	font-size:18px;
	text-align:left;
}



.page4 .content ul li{
	height:100px;
	padding:20px 0px;
	position:relative;
	background:url(../img/suiicon.jpg) repeat-y 50px 0;
}

.page4 .content ul li.hide{
	display:none;
}


.page4 .content ul li.content-first{
	padding-top:0px;
}

.page4 .content ul li .prev{
	border-radius:50%;
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
	
}

.page4 .content ul li:before{
	content:"";
	display:block;
	border-width: 0px 0px 20px 28px;
	border-color:transparent transparent transparent #fff;
	border-style:solid;
	position:absolute;
	left:90px;
	top:40px;
}
.page4 .content ul li:after{
	content:"";
	display:block;
	border-radius:50%;
	position:absolute;
	width:10px;
	height:10px;
	background:#ccc;
	left:130px;
	top:30px;
	border:2px solid #fff;
}



.page4 .content ul li .next{
	background:#ccc;
	width:900px;
	height:80px;
	margin-left:50px;
	padding:10px;
	border-radius:10px;
	position:relative;
}

.page4 .content ul li .next .data-timer{
	position:absolute;
	bottom:10px;
	right:20px;
	border:1px solid #000;
	background:#F60;
	border-radius:3px;
}



.page4 .fixed-aside{
	position:fixed;
	right:20px;
	bottom:100px;
	width:50px;
	height:220px;

}

.page4 .fixed-aside ul li{
	width:50px;
	height:50px;
	background:#ccc;
	margin-bottom:10px;

}

.page4 .fixed-aside ul li.returnTop{
	opacity:0;	
}


.page4 .fixed-aside ul li.returnTop a{
	width:100%;
	height:100%;
	display:block;
	font-size:24px
}

.page4 .fixed-aside ul li.icon-weixin{

	color:green;
	font-size:40px;
}

.page4 .fixed-aside ul li.icon-weixin{
	color:green;
	font-size:40px;
	text-align:center;
	line-height:50px;
	position:relative;

}

.page4 .fixed-aside ul li.icon-weixin img{
	position:absolute;
	width:130px;
	height:130px;
	top:-80px;
	left:-150px;
	background:red;
	display:none;
}


.page4 .fixed-aside ul li.QQ a.icon-qq{
	display:block;
	text-align:center;
	line-height:50px;
	color:blue;
	font-size:40px;

}
.page4 .fixed-aside ul li.returnTop a.icon-zhiding3{
	font-size:30px;
	text-align:center;
	line-height:50px;

}


.page4 .content .loadedContent{
	text-align:center;
	font-size:24px;
	opacity:0;
}










