@charset "utf-8";
/* CSS Document */
/*全局*/
.body{
	background:url(../img/bg3.jpg) no-repeat;
	background-size:100% 100%;
	font-size:16px;
	font-family:"宋体";
	margin-top:20px;
	margin-bottom:20px;
}
.body #canvas{
	position:fixed;
	top:0px;
	left:-1px;
	z-index:88;
	pointer-events:none;
}
<!--主页-->
.page1{
	overflow:hidden;
}

/*头部*/
/*头部第一行 题目*/
.page1 .header-wrapper{
	border-radius:10px;
	background:#ffc;
	position:relative;
}
.page1 .header-wrapper .piano{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	overflow:hidden;
}

.page1 .header-wrapper .piano li{
	height:300px; 
	width:12.5%; 
	float:left;
	font-size:100px;
	font-weight:bold;
	text-align:center;
	color:#f60;
	line-height:300px;
	opacity:0;
}

.page1 .header{
	text-align:center;
	padding:20px;
}

@-webkit-keyframes test{
	0%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;		
	}	
	50%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 60px #cd4606, 0 -80px 40px #973716, 10px -50px 100px #451b0e;		
	}
	100%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 40px #cd4606, 0 -80px 100px #973716, 10px -70px 150px #451b0e;		
	}
}

@-webkit-keyframes change{
	0%{
		color:#060;
	}
	25%{
		color:#C60;
	}
	50%{
		color:#FC3;
	}
	75%{
		color:#06C;
	}
	100%{
		color:#00F;
	}
}

.page1 .header .col-md-4 .logofirst{
	font-size:80px;
	font-family:Verdana, Geneva, sans-serif;  
	font-weight:bold; 
	color:green; 
	-webkit-animation:10s change linear infinite;
	-moz-animation:10s change linear infinite;
	-ms-animation:10s change linear infinite;
	-o-animation:10s change linear infinite; 
	animation:10s change linear infinite;
	text-shadow:10px 10px 10px #000,15px 15px 10px #000,20px 20px 10px #000;
}

.page1 .header .col-md-4 .logonav{
	margin-top:20px;
	margin-left:150px;
	font-size:24px;
}
.page1 .header .col-md-5 .header-title-article{
	font-size:16px;
	font-weight:bold;
}
.page1 .header .col-md-5 .header-title-article ul li{
	margin-bottom:20px;	
}
.page1 .header .col-md-5 .header-title-article ul li.text-3{
	text-align:right;
	padding-right:50px;
}

/*时钟*/
.page1 .header .col-md-3{
	position:relative;
	width:150px;
	height:150px;
	margin:0 auto;
}

.page1 .header .col-md-3 .clock{ 
	width:150px; 
	height:150px;
	background:url(../img/bg.png) no-repeat; 
	background-size:100% 100%;
	position:absolute;

}
.page1 .header .col-md-3 .clock span{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	transform-origin:bottom; 
	border-radius:50% 50% 0 0;
}
.page1 .header .col-md-3 .clock .h{ 
	width:4px; 
	height:20px; 
	background:#000; 
	margin-left:0px; 
	margin-top:-17px; 
	}
.page1 .header .col-md-3 .clock .m{ 
	width:4px; 
	height:30px; 
	background:#000; 
	margin-left:0px; 
	margin-top:-27px;
}
.page1 .header .col-md-3 .clock .s{ 
	width:2px; 
	height:40px; 
	background:red; 
	margin-left:2px; 
	margin-top:-37px;  
	transform-origin:bottom;
}
.page1 .header .col-md-3 .clock .tip{ 
	width:7px; 
	height:7px; 
	background:-webkit-radial-gradient(#999,#CCC); 
	margin-left:0px; 
	margin-top:0px; 
	border-radius:50% !important;
}






/*nav导航	*/
.page1 .navbar{
	margin-top:50px;	
}
.page1 .navbar .nav-btn{
	background:#0CF;
}

.page1 .navbar .nav-btn .icon-bar{
	background:#FFF;
}
.page1 .navbar li a{
	text-align:center;
	color:#CF6;
	font-size:20px;
	font-weight:bold;
	background:#0CF;
}


.page1 .navbar li:hover a{
	border-radius:15px;
	background-color:#F63;
}

/*banner*/
.banner{
	margin-top:40px;
}
.banner .carousel-inner img{
	width:100%;
}

.banner .carousel-inner .carousel-caption{
	font-size:.7rem;
	color:#FC0;
	top:.8rem;
	left:5%;
	right:5%;
}

/*.page1 #banner{
	width:60%;
	height:400px; 
	margin: 0 auto; 
	background:url(../img/team1.png);
	background-size:100% 100%;
}

.page1 #banner div{
	float: left;
	background:url(../img/team0.png);
}

*/
/*runrole*/

@-webkit-keyframes run{
		to{
			transform:translateX(-50%);		
		}
}
.page1 .runrole{
	width:80%;
	border:1px solid red; 
	overflow:hidden;
	padding:0px;
	margin-top:50px;
}
.page1 .runrole ul{ 
	width:200%;
	animation:run 10s linear infinite;
}
.page1 .runrole ul li{
	width:12.5%; 
	float:left; 
}
.page1 .runrole ul li img{ 
	width:100%;
}
	
.page1 .runrole:hover ul{
	animation-play-state:paused;
}

/*尾部*/
.page1 .footer{
	height:30px;
	background:#6cc;
	border-radius:10px 10px 0 0;
	margin-top:10px;
	line-height:30px;
	overflow:hidden;
}


@-webkit-keyframes footer{
		to{
			transform:translateX(-50%);		
		}
}

.page1 .footer{
	width:100%;
}

.page1 .footer .footerbar{
	width:200%;
	animation:footer 8s linear infinite;
}
.page1 .footer p{
	width:20%;
	margin-left:5%;
	float:left;
}
