@charset "utf-8";
/* CSS Document */
.body{
	background:url(../img/bg5.jpg) no-repeat;
	background-size:100% 100%;
	font-size:16px;
	font-family:"宋体";
	margin-top:20px;
	margin-bottom:20px;
	min-width:600px;
}
.body #canvas{
	position:fixed;
	top:0px;
	left:-1px;
	z-index:88;
	pointer-events:none;
}

/*第三页*/

/*标题*/
.page3 .header h2{
	font-size:50px;
	margin-left:100px;
	text-shadow:0px 0px 20px yellow,0px 0px 30px yellow,0px 0px 40px yellow,0px 0px 50px yellow,0px 0px 60px yellow,0px 0px 70px yellow,0px 0px 80px yellow;
	color:#0F6;
}
/*导航条*/
.page3 .header .ulnav{
	width:528px;
	margin:0 auto;
	float:none;
}
.page3 .header .ulnav a{
	width:130px;
	height:50px;
	padding:0px;
	display:block;
	border-radius:10px;
	text-align:center;
	line-height:50px;
	font-size:18px;
	color:#fff;
	margin-right:2px;
}
.page3 .header .nav .on a{
	background:#f15694;
}
.page3 .header .buttonnav{
	color:#fff;
	border:1px solid #0C3;
}
.page3 .header .buttonnav .icon-bar{
	background:#fff;
}
/*内容*/

/*卡头*/
.page3 .content{
	height:520px;
	position:relative;
}

/*大炮*/
.page3 .content .cannon{
	width:74px;
	height:94px;
	position:absolute;
	left:48%;
	bottom:-30px;
	background:url(../img/cannon7.png) no-repeat;
}

.page3 .content .part{
	width:18%;
	height:300px;
	position:absolute;
}

.page3 .content .part1{
	left:0px;
	bottom:0px;
}

.page3 .content .part2{
	left:27%;
	top:0px;
}

.page3 .content .part3{
	right:27%;
	top:0px;
}

.page3 .content .part4{
	right:0px;
	bottom:0px;
}

.page3 .content .part img{
	width:100%;
	height:100%;
}

.page3 .content .part img{
	display:block;
	width:100%;
	height:90%;
}


.page3 .content .part .title{
	font-size:22px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}

/*雪球*/
#snowball{
	width:30px;
	height:30px;
	background:#FFF;
	border-radius:50%;
	position:absolute;
	left:50.5%;
	bottom:0px;
}


/*雪人的内容*/
/*卡体*/
.page3 .content .manContentUl{
	width:100%;
	height:100%;
	position:relative;
	background:url(../img/bg7.jpg);
	background-size:100% 100%;
	z-index:2;
	display:none;
}
/*返回键*/
.page3 .content .manContentUl .back{
	width:50px;
	height:100px;
	position:absolute;
	left:10px;
	top:50px;
	background:url(../img/snowman14.png) no-repeat;
	background-size:100% 100%;
}

.page3 .content .manContentUl .back .backfont{
	font-size:16px;
	font-weight:bold;
	position:absolute;
	left:10px;
	bottom:20px;
}


/*雪人第二层*/
.page3 .content .manContent{
	display:none;
}

.page3 .content .manContent .row .left-list,
.page3 .content .manContent .row .game{
	margin-top:10px;
}

/*内容标题*/
.page3 .content .manContent h3{
	text-align:center;
	font-size:30px;
	border-bottom:2px solid #FB8664;
	padding-bottom:10px;
}
/*内容边框*/



/*内容左边信息*/
.page3 .content .manContent .left-list{
	margin-left:70px;
	background:-webkit-repeating-linear-gradient(#ccc 0,#f90 39px,red 40px);
}


.page3 .content .manContent ul li{
	margin-left:60px;
	line-height:40px;
	position:relative;
	
}

.page3 .content .manContent ul li i{
	display:inline-block;
	text-align:center;
	position:absolute;
	width:10px;
	height:10px;
	left:-30px;
	top:0px;
}


/*个人简历的内容*/
.page3 .content .manContent ul li#part1{
	height:40px;
}

.page3 .content .manContent ul li label{
	width:130px;
	display:inline-block;
	margin-bottom:0px;
}


/*内容 游戏*/
.page3 .content .manContent .gametitle{
	width:100%;
	height:100%;
	background:url(../img/gametitle.jpg) no-repeat;
	background-size:100% 100%;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:20px;
	padding:0px;
	margin-left:15px;
}

.page3 .content .manContent .gametitle .p1{
	font-size:30px;
	color:#fff;
	text-align:center;
	position:absolute;
	right:-40px;
	top:0px;
	width:30px;
	background:#6CF;
	border-radius:40px;
}

.page3 .content .manContent .gametitle .p1 span{
	color:#000;
	font-size:12px;
	font-weight:bold;
	line-height:16px;	
}


.page3 .content .manContent .gametitle .p2{
	font-size:18px;
	color:#0F0;
	margin-top:170px;
	
}

@-webkit-keyframes test{
	0%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;		
	}	
	50%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 60px #cd4606, 0 -80px 40px #973716, 10px -50px 100px #451b0e;		
	}
	100%{
		text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -40px 40px #cd4606, 0 -80px 100px #973716, 10px -70px 150px #451b0e;		
	}
}
/*游戏主标题*/
.page3 .content .manContent .gametitle .p3{
	width:417px;
	font-size:40px;
	color:#fff;
	padding-left:20px;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}


.page3 .content .manContent .game{
	position:relative;
	
}
.page3 .content .manContent .game #ul{
	width:417px;
	height:417px;
	margin:0 auto;
	list-style:none;
}
.page3 .content .manContent .game #ul li{
	width:100px;
	height:100px;
	background:url(../img/juwen.jpg) no-repeat;
	background-size:100% 100%;
	float:left;
	margin:2px;
	
	position:relative;
	transform-style:preserve-3d;
}	
.page3 .content .manContent .game #ul li img{
	width:100%;
	height:100%;
	display:none;
}



/*后面三段的内容*/

.page3 .content .part2 .part-ul li{
	font-size:24px;
	font-weight:bold;
	text-indent:2em;
	margin-top:50px;
	margin-left:0px;
}


