@charset "utf-8";
/* CSS Document */
.body{
	background:url(../img/bg2.jpg) no-repeat;
	background-size:100% 100%;
	height:100%;
	font-size:16px;
	font-family:"Microsoft YaHei";
	position:relative;
	overflow:hidden;
}

.body #canvas{
	position:fixed;
	top:0px;
	left:-1px;
	z-index:88;
	pointer-events:none;
}


/*第四页*/
.page4{
}

.page4-wrapper{
	padding:0px 100px 0px;
	margin:0 auto;
	width:1200px;
}



.page4 h2{
	text-align:center;
	font-size:36px;
	padding:30px 0 100px;
	text-shadow:0px 0px 20px yellow,0px 0px 30px yellow,0px 0px 40px yellow,0px 0px 50px yellow,0px 0px 60px yellow,0px 0px 70px yellow,0px 0px 80px yellow;
}

.page4 .title{
	font-size:18px;
	text-align:left;
}
/*提交框*/


.page4 .updata-wrapper{
	padding:0 150px;
	margin:20px 0;
	
	
}
.page4 .updata{
	
	width:862px;
	background:#9F6;
	height:200px;
	padding:30px;
	position:relative;
	border-radius:30px;
}

.page4 .updata .content{
	width:798px;
	height:140px;
	padding:10px 30px;
	resize:none;
	font-size:24px;
}
.page4 .updata .updata-send{
	width:200px;
	height:30px;
	line-height:30px;
	position:absolute;
	right:60px;
	bottom:25px;
	
}
.page4 .updata .updata-send .send{
	width:80px;
	height:30px;
	display:block;
	background:red;
	border-radius:50px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

.page4 .updata .updata-send span{
	font-size:16px;
}

.page4 .updata .updata-send span .kb{
	font-style:normal;
	font-weight:900;
}


/*内容*/
.page4 .content{

}

/*隐形*/
.page4 .invisible{
	position:absolute;
	width:250px;
	height:300px;
	left:5px;
	top:184px;
	background:url(../img/tree.gif) no-repeat;
	background-size:100% 100%;
	
}
.page4 .snowman{
	position:absolute;
	width:100px;
	height:200px;
	left:100px;
	top:344px;
	background:url(../img/snowman3.png) no-repeat;
	background-size:100% 100%;
}

.page4 .content ul li{
	height:100px;
	padding:20px 0px;
	position:relative;
	background:url(../img/suiicon.jpg) repeat-y 50px 0;
	font-size:18px;
}

.page4 .content ul li.hide{
	opacity:0
}


.page4 .content ul li.content-first{

}

.page4 .content ul li .prev{
	border-radius:50%;
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
	
}

.page4 .content ul li:before{
	content:"";
	display:block;
	border-width: 0px 0px 20px 28px;
	border-color:transparent transparent transparent #fff;
	border-style:solid;
	position:absolute;
	left:90px;
	top:40px;
}
.page4 .content ul li:after{
	content:"";
	display:block;
	border-radius:50%;
	position:absolute;
	width:10px;
	height:10px;
	background:#ccc;
	left:130px;
	top:30px;
	border:2px solid #fff;
}



.page4 .content ul li .next{
	background:#ccc;
	width:900px;
	height:80px;
	margin-left:50px;
	padding:10px;
	border-radius:10px;
	position:relative;
	overflow:auto;
}

.page4 .content ul li .next p{
	
}




.page4 .content ul li .next .data-timer{
	position:absolute;
	bottom:10px;
	right:20px;
	border:1px solid #000;
	background:#F60;
	border-radius:3px;
}



.page4 .fixed-aside{
	position:fixed;
	right:20px;
	bottom:100px;
	width:50px;
	height:220px;

}

.page4 .fixed-aside ul li{
	width:50px;
	height:50px;
	background:#ccc;
	margin-bottom:10px;

}

.page4 .fixed-aside ul li.returnTop{
	opacity:0;
}


.page4 .fixed-aside ul li.returnTop a{
	width:100%;
	height:100%;
	display:block;
	font-size:24px
}

.page4 .fixed-aside ul li.icon-weixin{

	color:green;
	font-size:40px;
}

.page4 .fixed-aside ul li.icon-weixin{
	color:green;
	font-size:40px;
	text-align:center;
	line-height:50px;
	position:relative;

}




.page4 .fixed-aside ul li.icon-weixin img{
	position:absolute;
	width:130px;
	height:130px;
	top:-80px;
	left:-150px;
	background:red;
	display:none;
}


.page4 .fixed-aside ul li.QQ a.icon-qq{
	display:block;
	text-align:center;
	line-height:50px;
	color:blue;
	font-size:40px;

}
.page4 .fixed-aside ul li.returnTop a.icon-zhiding3{
	font-size:30px;
	text-align:center;
	line-height:50px;

}


#oTmp{
	display:none;
}



.page4 .content .loadedContent{
	text-align:center;
	font-size:24px;
	opacity:0;
}


.page4 .back{
	width:200px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
}

.page4 .back a{
	width:100%;
	height:100%;
	display:block;
}
.page4 .back a img{
	width:100%;
	height:100%;
	
}

.page4 .train{
	width:400px;
	height:50px;
	position:absolute;
	left:-600px;
	top:100px;
}
.page4 .train ul li{
	width:80px;
	height:120px;
	float:right;
	border-radius:50px;
}

.page4 .train ul li a{
	width:80px;
	height:120px;
	display:block;
	position:relative;
}

.page4 .train ul li a span{
	position:absolute;
	left:20px;
	top:-10px;
	color:#0F0;

}
.page4 .train ul li img{
	width:100%;
	height:100%;
}


.page4 .train .wheel{
	background:url(../img/wheel1.png) no-repeat;
	background-size:100% 100%;
	position:absolute;
	width:40px;
	height:40px;
	border-radius:50%;
	top:83px;
	left:0px;
	animation: rotate 3s linear 0s infinite ;
	-webkit-animation: rotate 3s linear 0s infinite ;
	-moz-animation:rotate 3s linear 0s infinite;
	-ms-animation: rotate 3s linear 0s infinite;
	-o-animation: rotate 3s linear 0s infinite;
}

.page4 .train .wheel1{
	left:20px;
}
.page4 .train .wheel2{
	left:97px;
}
.page4 .train .wheel3{
	left:177px;
}
.page4 .train .wheel4{
	left:257px;
}
.page4 .train .wheel5{
	background:url(../img/wheel2.png) no-repeat;
	background-size:100% 100%;
	width:45px;
	height:45px;
	top:77px;
	left:317px;
}
.page4 .train .wheel6{
	background:url(../img/wheel3.png) no-repeat;
	background-size:100% 100%;
	left:368px;
}


@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
@-webkit-keyframes rotate{
	from{-webkit-transform: rotate(0deg);}
	to{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate{
	from{-moz-transform: rotate(0deg);}
	to{-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotate{
	from{-ms-transform: rotate(0deg);}
	to{-ms-transform: rotate(360deg);}
}
@-o-keyframes rotate{
	from{-o-transform: rotate(0deg);}
	to{-o-transform: rotate(360deg);}
}


