@charset "utf-8";
/* CSS Document */



/*第四页*/
.page4{
	background:url(../img/bg4.jpg) no-repeat;
	background-size:100% 100%;
	font-family:"Microsoft YaHei"
}

.page4-wrapper{
	padding:0px 100px 0px;
	margin:0 auto;
	width:1200px;
}



.page4 h2{
	text-align:center;
	font-size:36px;
	padding:30px 0;
	text-shadow:0px 0px 20px yellow,0px 0px 30px yellow,0px 0px 40px yellow,0px 0px 50px yellow,0px 0px 60px yellow,0px 0px 70px yellow,0px 0px 80px yellow;
}

.page4 .title{
	font-size:18px;
	text-align:left;
}
/*提交框*/


.page4 .updata-wrapper{
	padding:0 150px;
	margin:20px 0;
	
	
}
.page4 .updata{
	
	width:862px;
	background:#9F6;
	height:200px;
	padding:30px;
	position:relative;
	border-radius:30px;
}

.page4 .updata .content{
	width:798px;
	height:140px;
	padding:10px 30px;
	resize:none;
	font-size:24px;
}
.page4 .updata .updata-send{
	width:200px;
	height:30px;
	line-height:30px;
	position:absolute;
	right:60px;
	bottom:25px;
	
}
.page4 .updata .updata-send .send{
	width:80px;
	height:30px;
	display:block;
	background:red;
	border-radius:50px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

.page4 .updata .updata-send span{
	font-size:16px;
}

.page4 .updata .updata-send span .kb{
	font-style:normal;
	font-weight:900;
}




/*内容*/


.page4 .content ul li{
	height:100px;
	padding:20px 0px;
	position:relative;
	background:url(../img/suiicon.jpg) repeat-y 50px 0;
	font-size:18px;
}

.page4 .content ul li.hide{
	opacity:0
}


.page4 .content ul li.content-first{
	padding-top:0px;
}

.page4 .content ul li .prev{
	border-radius:50%;
	width:100px;
	height:100px;
	overflow:hidden;
	position:relative;
	
}

.page4 .content ul li:before{
	content:"";
	display:block;
	border-width: 0px 0px 20px 28px;
	border-color:transparent transparent transparent #fff;
	border-style:solid;
	position:absolute;
	left:90px;
	top:40px;
}
.page4 .content ul li:after{
	content:"";
	display:block;
	border-radius:50%;
	position:absolute;
	width:10px;
	height:10px;
	background:#ccc;
	left:130px;
	top:30px;
	border:2px solid #fff;
}



.page4 .content ul li .next{
	background:#ccc;
	width:900px;
	height:80px;
	margin-left:50px;
	padding:10px;
	border-radius:10px;
	position:relative;
	overflow:auto;
}

.page4 .content ul li .next p{
	
}




.page4 .content ul li .next .data-timer{
	position:absolute;
	bottom:10px;
	right:20px;
	border:1px solid #000;
	background:#F60;
	border-radius:3px;
}



.page4 .fixed-aside{
	position:fixed;
	right:20px;
	bottom:100px;
	width:50px;
	height:220px;

}

.page4 .fixed-aside ul li{
	width:50px;
	height:50px;
	background:#ccc;
	margin-bottom:10px;

}

.page4 .fixed-aside ul li.returnTop{
	opacity:0;
}


.page4 .fixed-aside ul li.returnTop a{
	width:100%;
	height:100%;
	display:block;
	font-size:24px
}

.page4 .fixed-aside ul li.icon-weixin{

	color:green;
	font-size:40px;
}

.page4 .fixed-aside ul li.icon-weixin{
	color:green;
	font-size:40px;
	text-align:center;
	line-height:50px;
	position:relative;

}




.page4 .fixed-aside ul li.icon-weixin img{
	position:absolute;
	width:130px;
	height:130px;
	top:-80px;
	left:-150px;
	background:red;
	display:none;
}


.page4 .fixed-aside ul li.QQ a.icon-qq{
	display:block;
	text-align:center;
	line-height:50px;
	color:blue;
	font-size:40px;

}
.page4 .fixed-aside ul li.returnTop a.icon-zhiding3{
	font-size:30px;
	text-align:center;
	line-height:50px;

}


#oTmp{
	display:none;
}



.page4 .content .loadedContent{
	text-align:center;
	font-size:24px;
	opacity:0;
}







