@charset "utf-8";
/* CSS Document */
.body{ font:12px/1 "微软雅黑，宋体"}
/*头部开始*/
.header{ width:100%;}
/*第一行开始*/
img{ width:100%}
.header .topbar{ width:100%; border-bottom:1px solid #e3e7e8;}

.header .topbar .subnav{ border-radius:30px; margin-top:21px;}
.header .topbar .subnav li{ width:62px; height:38px; float:left; border:1px solid #2fb3ff; color:#2fb3ff; text-align:center; line-height:38px; margin-left:-1px;}
.header .topbar .subnav li.active{ background:#2fb3ff;};

.header .topbar .denglu1{ width:100%;}
.header .topbar .denglu1 .denglu{ margin-top:35px; margin-left:40px;}
.header .topbar .denglu .icon{ width:16px; height:16px; background:url(../img/icon2.png) 0 0 no-repeat; float:left; margin-top:-3px; margin-right:7px;}
 
.header .topbar .more{ margin-left:39px; margin-top:32px; margin-right:37px;}
.header .topbar .more li{ float:left; margin-right:19px; position:relative;}
.header .topbar .more li a.clock{ display:inline-block; width:16px; height:16px;background:url(../img/icon2.png) -76px -0px no-repeat; padding-right:17px; position:relative;}
.header .topbar .more li a.message{ display:inline-block; width:16px; height:16px;background:url(../img/icon2.png) -128px 0px no-repeat; padding-right:17px; position:relative;}
.header .topbar .more li a.up{ display:inline-block; width:16px; height:16px;background:url(../img/icon2.png) -181px 0px no-repeat; padding-right:17px; position:relative;}
.header .topbar .more li a.clock i{ width:9px; height:5px; background:url(../img/icon2.png)  -76px 0px no-repeat; position:absolute;   }
.header .topbar .more li .sublist{ display:none; position:absolute;}
.header .topbar .more li .active{display:block;}
.header .topbar .more li a.message i{ width:9px; height:5px; background:url(../img/icon2.png)  -100px -6px no-repeat; position:absolute;  left:24px; top:6px;  }
.header .topbar .more li a.up i{ width:9px; height:5px; background:url(../img/icon2.png)  -100px -6px no-repeat; position:absolute;  left:24px; top:6px;  }

.header .topbar .search{margin-top:21px; position:relative}
.header .topbar .search .txt{ width:358px; height:38px; border:1px solid #2fb3ff; padding-left:11px; }
.header .topbar .search .btn{ width:79px; height:40px; background:#31a4ff; color:#fff;}
.header .topbar .search .search_icon{ position:absolute; background:url(../img/icon3.png) no-repeat; width:16px; height:16px; left:11px; top:11px;}
.header .topbar .search .search_list{ position:absolute; width:16px; height:21px; right:91px; top:9px; background:url(../img/icon1.png) no-repeat;}
/*第一行结束*/
/*第二行开始*/
.header .nav{ width:100%; height:52px; line-height:52px; border-bottom:1px solid #e3e7e8;}
.header .nav .list{ margin-left:20px;}
.header .nav .list li{ padding:0 6px; height:52px;  float:left; margin-right:4px;}
.header .nav .list li.active{ height:51px; padding-bottom:0px;border-bottom:2px solid #2fb3ff; color:#2fb3ff; margin-bottom:0px;}
.header .nav .list li.active a{ color:#2fb3ff;}
.header .nav .list li i{ position:absolute; width:38px; height:2px;}

.header .nav .more ul{ position:absolute; background:#0F3;}
.header .nav .more ul.hide{ display:none; }

.header .nav .more a{ display:inline-block; margin-left:10px; padding-right:13px; position:relative;}
.header .nav .more a i{ width:9px; height:5px; position:absolute; left:32px; top:25px; background:url(../img/icon2.png) -100px -6px no-repeat;}
.header .nav .down{ margin-right:30px;}
/*第二行结束*/
/*第四行开始*/
.header .bottombar{ margin:0 4px 0 5px; padding-right:20px; width:100%;}
.header .bottombar .ul1{ width:880px;}
.header .bottombar .ul2{ width:440px;}


.header .bottombar ul li{ float:left; margin:20px 0px 0px 20px;}
.header .bottombar ul li .img2{ margin-top:20px;}

/*第四行结束*/
/*头部结束*/
/*内容开始*/
.content{ width:100%;}
/*公有属性*/
.content .wrapper{ margin:10px 4px 10px 5px; position:relative; padding:0px 20px;}
.content .wrapper .left{ background:url(../img/wrapper-t.png) repeat-y; width:5px; height:250px; left:-5px; position:absolute;}
.content .wrapper .right{ background:url(../img/wrapper-r.png) repeat-y; width:4px; height:250px; right:-4px; position:absolute;}
.content .wrapper .top{ background:url(top.PNG) repeat-x; width:1340px; height:10px; top:-10px; position:absolute;}
.content .wrapper .bom{ background:#000 repeat-xs ; width:1340px; height:10px; bottom:-10px; position:absolute;}

.content .wrapper .lt{ width:5px; height:10px; background:url(../img/wrapper-lt.png) no-repeat; position:absolute; top:-10px; left:-5px;}
.content .wrapper .rt{ width:4px; height:10px; background:url(../img/wrapper-rt.png) no-repeat; position:absolute;top:-10px; right:-4px;}
.content .wrapper .lb{ width:5px; height:10px; background:url(../img/wrapper-lb.png) no-repeat; position:absolute;left:-5px; bottom:-10px;}
.content .wrapper .rb{ width:4px; height:10px; background:url(../img/wrapper-rb.png) no-repeat; position:absolute; right:-4px; bottom:-10px;}


.public_content .title{ width:100%; height:55px; border-bottom:1px solid #eeeeee; position:relative}
.public_content .title h3{ position:relative; float:left; color:#555;}
.public_content .title h3 a{ display:block; margin-top:23px; background:url(../img/icon4.png) no-repeat 100% 50%; color:#555555; font-size:20px; padding-left:40px; padding-right:28px;}
.public_content .title h3 i{ background:url(../img/icon5.png) no-repeat; width:30px; height:24px; display:inline-block; position:absolute; top:21px;}
.public_content .title .summary{ float:left; margin-left:40px; margin-top:31px;}
.public_content .title .summary a.active{ color:#2fb3ff; border-bottom:1px #2fb3ff solid; padding-bottom:10px; margin-bottom:-2px;}
.public_content .title .order{ margin-top:28px;}
.public_content .title .order .hide{ display:none;}
.public_content .title .order a{ color:#909090; padding-left:21px; display:inline-block; background:url(../img/icon1.png) no-repeat 0 0;}

.public_content .contain ul li{margin-top:20px; margin-right:20px; float:left;}
.public_content .contain ul li.last{ margin-right:0px;}
.public_content .contain ul{ display:none;}
.public_content .contain ul.show{ display:block;}
.public_content .banner{ margin-top:21px;}
.public_content .title .summary li{ float:left; margin-right:20px; }
.public_content .title .summary li a.active{ border-bottom:1px solid #2fb3ff;padding-bottom:10px; margin-bottom:-2px;}



/*7月热门独播开始*/
.seven .title .banner1{ position:absolute; width:48px; height:20px; right:0px; top:27px; }
.seven .contain{ width:100%;}
.seven .contain ul{ display:block;}
.seven .contain ul li{float:left; margin-right:20px;}
.seven .contain ul li.last{margin-right:0px;}
/*7月热门独播结束*/
/*优酷懂你开始*/
.content2{ width:100%;}

.content2-left{ width:1080px;}
.content2-left .title{}
.content2-left .title h3{ padding-right:0px;}
.content2-left .title h3 i{ background:url(../img/icon6.png) no-repeat; width:26px; height:25px;}
.content2-left .title .summary{ margin-left:19px; margin-top:29px; color:#909090;}
.content2-left .title .summary a{ color:#2fb3ff;}
.content2-left .title .change{ margin-top:32px; padding-left:17px; background:url(../img/icon7.png) 0 0 no-repeat; display:block;}
.content2-left .contain ul{ display:block;}
.content2-left .contain ul li{ width:200px; float:left; margin-top:20px; margin-right:20px;}
.content2-left .contain ul li img{ margin-bottom:11px;}
.content2-left .contain ul li .contain_title a{ color:#555; display:inline-block;}
.content2-left .contain ul li .contain_cont span{ color:#999;}
.content2-left .contain ul li.last{ margin-right:0px;}


.content2-right{ width:200px; margin-left:20px;}
.content2-right .title h3 a{ padding-left:0px;}
.content2-right .title h3 i{ display:none;}
.content2-right .contain ul{display:block;}
.content2-right .contain ul{ padding-top:23px;}
.content2-right .contain ul li{ margin:0px;height:15px; line-height:15px; text-align:center; margin-bottom:25px; position:relative;}
.content2-right .contain ul li i{ background:url(../img/icon8.png) no-repeat; width:20px; height:20px; display:inline-block; position:absolute; left:0px; top:-2px;}
.content2-right .contain ul li a{ margin-right:10px; color:#909090;}
.content2-right .contain ul li .first{ padding-left:29px; padding-right:10px; border-right:1px solid #e3e7e8; margin-right:6px; color:#555; }
.content2-right .contain ul li i.talk{ background:url(../img/icon9.png) no-repeat; width:19px; height:19px;}
.content2-right .contain ul li i.live{ background:url(../img/icon10.png) no-repeat; width:20px; height:15px;}
.content2-right .contain ul li i.own{ background:url(../img/icon11.png) no-repeat; width:18px; height:16px;}
.content2-right .contain ul li i.money{ background:url(../img/icon12.png) no-repeat; width:18px; height:18px;}
.content2-right .contain ul li i.play{ background:url(../img/icon13.png) no-repeat; width:16px; height:16px;}
.content2-right .contain ul li i.tv{ background:url(../img/icon14.png) no-repeat; width:16px; height:18px;}
.content2-right .contain ul li i.other{ background:url(../img/icon15.png) no-repeat; width:20px; height:20px;}
.content2-botom{ width:100%; margin-top:20px;}
/*优酷懂你结束*/

/*原创出品开始*/
.content3{ width:100%;}
.content3 .title h3 i{ background:url(../img/icon16.png) no-repeat; width:24px; height:26px;}
.content3 .title .summary{ margin-left:40px; margin-top:31px;}
.content3 .title .summary a{ float:left; margin-right:20px;}
.content3 .title .summary a.active{ color:#2fb3ff; border-bottom:1px #2fb3ff solid; padding-bottom:10px; margin-bottom:-2px;}
.content3 .contain ul li{ float:left; width:200px; margin-right:20px;}
.content3 .contain ul li.last{ margin-right:0px;}
.content3 .contain ul{ display:none;} 
.content3 .contain ul.show{ display:block;}
/*原创出品结束*/
/*电视剧开始*/
.content4{ width:100%;}
.content4 .title h3 i{ background:url(../img/icon17.png) no-repeat; width:24px; height:23px; margin-left:3px;}

.content4 .title .summary li{ float:left; margin-right:20px; }
.content4 .title .summary li a.active{ border-bottom:1px solid #2fb3ff;padding-bottom:10px; margin-bottom:-2px;}
.content4 .title .banner2{ position:absolute; right:128px; top:16px;}
.content4 .title .banner3{ margin-top:28px;}

.content4 .contain{ padding-bottom:25px;}
.content4 .contain .list{ display:none;}
.content4 .contain .show{ display:block;}
.content4 .contain ul li{ margin-top:20px; margin-right:20px; float:left;}
.content4 .contain ul li.last{ margin-right:0px;}
.content4 .contain .list1 li{ float:left;}


/*电视剧结束*/

/*放剧场开始*/


.content5 .title h3 i{ background:url(../img/icon18.png) no-repeat; width:25px; height:25px;}
/*放剧场结束*/
/*综艺开始*/
.content6 .title h3 i{ background:url(../img/icon19.png) no-repeat; width:25px; height:25px;}
.content6 .title .order{ margin-top:28px;}
.content6 .title .order .hide{ display:none;}
.content6 .title .order a{ color:#909090; padding-left:21px; display:inline-block; background:url(../img/icon1.png) no-repeat 0 0;}
.content6 .contain ul{ display:none;}
.content6 .contain ul.show{ display:block;}
/*综艺结束*/
/*电影开始*/
.film .title h3 i{ background:url(../img/icon20.png) no-repeat; width:26px; height:25px; left:0px;}
.film .contain ul{ display:block;}
.film .contain ul li{ margin-right:0px;}
.film .contain .show{ display:block}
.film .contain div{ display:none;}
.film .contain ul li .change{ height:255px;}
/*电影结束*/
/*动漫开始*/
.coton .title h3 i{ background:url(../img/icon21.png) no-repeat; width:28px; height:25px; left:0px;}
.coton .contain ul{ display:block;}
/*动漫结束*/
/*少儿开始*/
.young .title h3 i{ background:url(../img/icon22.png) no-repeat; width:28px; height:25px; left:0px;}
.young .title .summary a{ margin-right:20px; display:inline-block;}
/*少儿结束*/
/*专题精选开始*/
.one .title h3 i{ background:url(../img/icon23.png) no-repeat; width:26px; height:20px;}
.one .contain ul{ display:block;}

/*专题精选结束*/
/*自频道精选开始*/
.owntv .title h3 i{ background:url(../img/icon24.png) no-repeat; width:26px; height:23px;}
.owntv .contain ul{ display:block;}
/*自频道结束*/
/*娱乐开始*/
.happy .title h3 i{ background:url(../img/icon25.png) no-repeat; width:26px; height:25px;}

/*娱乐结束*/
/*资讯开始*/
.news .title h3 i{ background:url(../img/icon26.png) no-repeat; width:28px; height:22px;}

/*资讯结束*/
/*搞笑开始*/
.jocker .title h3 i{ background:url(../img/icon27.png) no-repeat; width:26px; height:25px;}

/*搞笑结束*/
/*音乐开始*/
.music .title h3 i{ background:url(../img/icon28.png) no-repeat; width:26px; height:25px;}

/*音乐结束*/
/*米疯直播开始*/
.crazy .title h3 i{ background:url(../img/icon29.png) no-repeat; width:30px; height:30px;}

/*米疯直播结束*/
/*教育开始*/
.edu .title h3 i{ background:url(../img/icon30.png) no-repeat; width:30px; height:23px;}

/*教育结束*/
/*生活开始*/
.life .title h3 i{ background:url(../img/icon31.png) no-repeat; width:28px; height:20px;}

/*生活结束*/
/*旅游开始*/
.trl .title h3 i{ background:url(../img/icon32.png) no-repeat; width:24px; height:25px;}

/*旅游结束*/
/*汽车开始*/
.car .title h3 i{ background:url(../img/icon33.png) no-repeat; width:27px; height:22px;}

/*汽车结束*/
















/*内容结束*/






