@charset "utf-8";
/* CSS Document */
@media screen and (max-width:979px) and (min-width:641px){

/*整体布局*/
.bd{ background:#f5f5f5; max-width:980px; min-width:320px;}
/*头部*/
.header{ width:100%;}
/*头部 搜索*/
.header .search{ width:100%; position:relative; box-sizing:border-box;padding:0 41px; height:46px;}
/*头部 搜索 左右两个按钮*/
.header .search h1,.header .search .btn{ width:41px; height:46px; position:absolute;}
.header .search h1{ left:0px; top:0px;}
/*.header .search .ipt{ width:100%;height:30px;  box-sizing:border-box; margin-top:7px; background:#ebebeb; padding-left:20px;}
*//*头部 搜索 右边按钮增加划入效果*/
.header .search .subnav .btn{ right:0px; top:0px;}
.header .search .subnav:hover .list{ display:block;}
.header .search .subnav .list{ width:41px; position:absolute;top:46px; right:0px; display:none; } 
.header .search .subnav .list li{ width:41px; height:10px; margin-bottom:2px; background:#0C3;}
/*头部 搜索 搜索框内的icon*/
.header .search .icon{ position:absolute; width:17px; height:17px; background:url(../img/search-s.png) no-repeat; right:46px; top:14px;}
/*头部 搜索 搜索框滑动门*/
.header .search .l,.header .search .r{ position:absolute; width:2px; height:30px;}
.header .search .l{ left:41px; top:7px; background:url(img/search-l.png) no-repeat;}
.header .search .r{ right:41px; top:7px; background:url(img/search-r.png) no-repeat;}
.header .search .ipt{ padding-right:2px; background:url(img/search-r.png) repeat-x; width:100%; box-sizing:border-box; height:30px; margin-top:7px; padding-left:12px; font-size:20px;}


/*内容*/
.content{ margin:0 auto; font:12px/1 "宋体，微软雅黑";  max-width:980px; min-width:320px;}
/*内容 导航*/
.content .nav{ width:100%; box-sizing:border-box; border:4px solid #fff;}
.content .nav .img{}
.content .nav .img img{ width:100%; display:block;}
.content .nav .list{ width:100%; background:#fff;}
.content .nav .list li{ float:left; width:25%; height:55px; text-align:center; background:url(img/bg.png) no-repeat 100% 50%;}
.content .nav .list li.last{ background:#fff; }
.content .nav .list li div{ margin-top:4px;}
.content .nav .list li a{ color:#7f7f7f;}
.content .nav .list li span{ display:block; width:100%; height:21px; margin-top:12px; }
.content .nav .list li span.gw{ background:url(img/img1.png) 50% 50% no-repeat;}
.content .nav .list li span.jp{ background:url(img/img2.png) 50% 50% no-repeat;}
.content .nav .list li span.cz{ background:url(img/img3.png) 50% 50% no-repeat;}
.content .nav .list li span.my{ background:url(img/img4.png) 50% 50% no-repeat;}
/*线*/
.content .line{ width:100%; height:1px; background:#e1e1e1;}
/*外围布局*/
.content .wrapper{ border:1px solid #f0f0f0; border-top:0px; box-sizing:border-box;}

/*掌上秒杀*/
.content .time{ width:100%; background:#fff; margin-top:10px;}
/*掌上秒杀 标题*/
.content .time h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .time h3 a{ color:#7f7f7f;}
.content .time h3 .clock{ position:absolute; left:85px; top:0px;}
.content .time h3 .clock span{ width:15px; height:15px; background:#5d5d5d; color:#fff; padding:0 3px;}
/*掌上秒杀 内容*/
.content .time .list{ width:100%;}
.content .time .list li{ float:left; width:33.33%; border-top:1px solid #dadada;border-right:1px solid #dadada; box-sizing:border-box; text-align:center;}
.content .time .list li.last{ border-right:0px;}
.content .time .list li a img{ width:100%;}
.content .time .list li .price{ color:#d8505c; margin-top:3px; margin-bottom:10px;}
.content .time .list li .zhe{ width:58%; height:15px; margin:0 auto; background:#d8505c; color:#fff; line-height:15px; margin-bottom:9px;}

/*麦当劳双省活动*/
.content .mdl{ width:100%; background:#fff; margin-top:10px;}
/*麦当劳双省活动 标题*/
.content .mdl h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .mdl h3 a{ color:#7f7f7f;}
/*麦当劳双省活动 内容*/
.content .mdl .banner{ padding-bottom:2px;}
.content .mdl .banner a{ display: block; }
.content .mdl .banner a img{ width:100%; border:5px solid #fff;box-sizing:border-box; display:block; }

/*超值购*/
.content .czg{ width:100%; background:#fff; margin-top:10px;}

/*超值购 标题*/
.content .czg h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .czg h3 a{ color:#7f7f7f;}
/*超值购 内容*/
.content .czg .czg-banner a{ float:left; width:50%;}
.content .czg .czg-banner a img{ width:100%;}

/*闪购超市*/
.content .sgzs{ width:100%; background:#fff; margin-top:10px;}
/*闪购超市 标题*/
.content .sgzs h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .sgzs h3 a{ color:#7f7f7f;}
/*闪购超市 内容*/
.content .sgzs .sgzs-banner{ padding-bottom:2px;}
.content .sgzs .sgzs-banner a{ display: block; }
.content .sgzs .sgzs-banner a img{ width:100%; border:5px solid #fff;box-sizing:border-box; display:block; }

/*热门活动*/
.content .hot{ background:#fff; width:100%; margin-top:10px; padding-top:20px;}
/*热门活动 标题*/
.content .hot h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .hot h3 a{ color:#7f7f7f;}

/*热门活动 内容*/
.content .hot .content .left,.content .hot .content .right{ width:50%;}
.content .hot .content .left img,.content .hot .content .right img{ width:100%;}
 
/*有利可图*/
.content .youli{ width:100%; background:#fff; margin-top:10px;}

/*有利可图 标题*/
.content .youli h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .youli h3 a{ color:#7f7f7f;}
/*有利可图 内容*/
.content .youli .youli-banner a{ float:left; width:50%;}
.content .youli .youli-banner a img{ width:100%;}

/*特色市场*/
.content .tese{ background:#fff; width:100%; margin-top:10px; padding-top:20px;}
/*特色市场 标题*/
.content .tese h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .tese h3 a{ color:#7f7f7f;}

/*特色市场 内容*/
.content .tese .content .left,.content .tese .content .right{ width:50%;}
.content .tese .content .left img,.content .tese .content .right img{ width:100%;}

/*品牌街*/
.content .pinpai{ width:100%; background:#fff; margin-top:10px;}

/*品牌街 标题*/
.content .pinpai h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .pinpai h3 a{ color:#7f7f7f;}
/*品牌街 内容*/
.content .pinpai .pinpai-banner a{ float:left; width:50%;}
.content .pinpai .pinpai-banner a img{ width:100%;}

/*金融街*/
.content .gold{ background:#fff; width:100%; margin-top:10px; padding-top:20px;}
/*金融街 标题*/
.content .gold h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative;}
.content .gold h3 a{ color:#7f7f7f;}

/*金融街 内容*/
.content .gold .content .left,.content .gold .content .right{ width:50%;}
.content .gold .content .left img,.content .gold .content .right img{ width:100%;}

/*主题馆*/
.content .zhuti{ width:100%; background:#fff; margin-top:10px;}

/*主题馆 标题*/
.content .zhuti h3{ width:100%; height:32px; line-height:32px; background:url(img/bg1.png) no-repeat 7px 50%; padding-left:17px; font-size:14px; position:relative; box-sizing:border-box;}
.content .zhuti h3 a{ color:#7f7f7f;}
/*主题馆 内容*/
/*.content .zhuti .content{ width:100%; box-sizing:border-box;  }
.content .zhuti .content .list{ box-sizing:border-box; width:100%;}
.content .zhuti .content .list li{width:100%; padding-left:9px; box-sizing:border-box; }
.content .zhuti .content .list li a{ display:block; float:left;margin:0px 8px 9px 0px; width:48%;}
.content .zhuti .content .list li a img{ width:100%;}
*/
.content .zhuti .content{ width:100%;}
.content .zhuti .content .sublist li .list{ width:100%;}
.content .zhuti .content .sublist li .list li{ float:left; width:50%; padding:0px 8px 9px 0px; box-sizing:border-box; }
.content .zhuti .content .sublist li .list li a img{ width:100%;}

/*网页底部*/

.footer{ margin:0 auto; font:12px/1 "宋体，微软雅黑";background:#fff; margin-top:10px; }

.footer .wrapper{ border:1px solid #f0f0f0; border-top:0px; box-sizing:border-box;}
/*网页底部 标题*/
.footer h3{ width:100%; height:34px; line-height:34px; border-bottom:1px solid #e5e5e5; box-sizing:border-box; padding:0px 11px; position:relative;}
.footer h3 a{ color:#666; display:inline-block;}
.footer h3 .left .icon{ width:2px; height:17px; background:#cf9566; position:absolute; left:42px; top:10px;}
/*.footer h3 .right .icon{ width:2px; height:17px; background:#cf9566; position:absolute; left:42px; top:10px;}
*/
.footer h3 .l{ line-height:17px; border-right:2px solid #cf9566; padding-right:3px; margin-right:4px;}

/*网页底部 内容*/
.footer .content{ width:100%; text-align:center; margin-top:14px;}

.footer .content .p1{ margin-bottom:9px;}

.footer .content .p3{ margin-bottom:36px; margin-top:10px;}

.footer .content p a{ font:12px/1 "微软雅黑"}




}






